.header {
	color: white;
}

#mid_icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

.container-fluid {
	background-color: blue;
	color: white;
	font-size: 20px;
}

body {
	background-color: white;
	color: white;
	font-size: 20px;
}

p {
	background-color: red;
}
