{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" >
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/dark/jquery-ui.css">
		<script src="//code.jquery.com/jquery-1.12.4.js"></script>
  		<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<title>
			{% block title %} PPW Story by Azhar Difa Arnanda {% endblock %}
		</title>
		{% block css %}
			<!-- css goes here -->
		{% endblock%}
	</head>
	<body>
		<header>
			{% include "layout/header.html" %}
		</header>
		<content>
			{% block content %}
				<!-- content goes here-->
			{% endblock %}
		</content>
		<footer>
			{% include "layout/footer.html" %}
		</footer>
		{% block scripts %}
			<!-- javascript goes here -->
		{% endblock scripts %}

	</body>
</html>