<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">MyStory</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href={% url 'book_func' %}>Books<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'status' %}>Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'subs_func' %}>Subscribe</a>
      </li>
    </ul>
  </div>
</nav>