 <nav class="navbar navbar-expand-sm bg-danger navbar-dark fixed-top">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href={% url 'aboutme' %}>about me!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'experience' %}>ex-perience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'guessbook' %}>contact me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'favgames' %}>favgames</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={% url 'activity' %}>myschedule</a>
      </li>
    </ul>
</nav>
