<!DOCTYPE html>
<html lang="en">
<head>
	{%load static%}
	<link rel="stylesheet" type="text/css" href={% static 'style/mystyle.css' %}>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body class="container-fluid">

	<!-- reuse navbar -->
	<header>
 		{% include "navbar.html" %}
 	</header>


	<form method="POST" style="margin-top: 100px">
		{% csrf_token %}
		<div class="form-group">
			<label for="usr">Name:</label>
			<input type="text" class="form-control" id="usr" placeholder="Enter name">
		</div>

		<div class="form-group">
			<label>Date:</label>
			<input type="Date" class="form-control">
		</div>
		
		<div class="form-group">
	    	<label for="email">Email address:</label>
	    	<input type="email" class="form-control" id="email" placeholder="Enter email">
	  	</div>

	  	<div class="form-group">
			<label>Subject:</label>
			<input type="text" class="form-control" placeholder="Enter subject">
		</div>

	  	<div class="form-group">
	  		<label for="comment">Leave your message bellow:</label>
	 		<textarea class="form-control" rows="5" id="comment" placeholder="Enter you message"></textarea>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</body>
</html>