<!DOCTYPE html>

<html lang="en">
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href={% static 'style/mystyle.css' %}>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<style >
		p {
			background-color: green;
			font-size: 15px;
		}
	</style>
</head>	

<body class="container-fluid">

	<!-- reuse navbar -->
 	<header>
 		{% include "navbar.html" %}
 	</header>

<br><br>
<br><br>
<br><br>

<div class="row">
	<div class="col-sm-5">
		<div class="card bg-danger" style="width:400px; margin-left: 50px">
		    <img class="card-img-top" src="https://image.ibb.co/mLYUU9/Azhar_Difa.png" alt="Card image" style="width:100%">
		    <div class="card-body">
		      <h4 class="card-title" style="color: white">Azhar Difa Arnanda</h4>
		      <p class="card-text" style="color: white">
		      	Hello there! welcome to my website, i'm an undergraduate
		      	student at faculty of computer science. Just wondering how this
		      	whole website programming works and wish the best of luck for me!
		      </p>
		    </div>
		  </div>
	</div>
	<div class="col-sm-7">
		<h1 class="header">Review PPW</h1>
		<p>
			PPW atau perancangan pemrograman website merupakan mata kuliah yang menyenangkan. Walau<br>saya sangat bingung bagaimana caranya mensetup django tapi proses design web merupakan hal<br>yang seru dan juga mengasyikan. Dalam bimbingan bu maya retno dan kak frans sebagai asdos<br> kami banyak mempelajari dunia website baik dari front-end maupun back-end. Sebenarnya satu<br>kendala yang kami hadapi ketika belajar "pepew" (bahasa gaul yang sering kami gunakan) <br>
			yaitu adalah waktu. Semester 3 bukan lah waktu yang kondusif untuk mengambil matakuliah ppw<br>
			menurut saya karena matakuliah wajib rumpun maupun fakultas yang terbilang sulit berkumpul<br>
			di semester 3, tak lupa organisasi dan kepanitiaan yang puncak-nya juga di semester ini.
			<br>
			<br>
			Saya sebagai mahasiswa yang tidak terlalu pintar baik dalam berpikir maupun membagi waktu<br>
			merasa kewalahan dengan semester 3 ini. Untungnya keluarga dan teman saya selalu mensupport<br>
			saya walau saya sering merasa down.
			<br>
			<br>
			last but not least, saya harap TARUNG! bisa menyelesaikan semester ini dengan sukses. Harapan<br>saya kedepannya baik untuk saya sendiri, angkatan saya tarung, omega, capung, kakak2 yang<br>yang masih berjuang, juga quanta yang masih seumur ayam warna di pasar semoga kita semua <br>
			menjadi generasi penerus yang lebih baik dari sebelumnya. Aminn..
			<br>
			<br>
			warm regards,
			Azhar
		</p>
	</div>
</div>


</body>

</html>