<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href={% static 'static/style/mystyle.css' %}>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<style>
	.display-1 {
		text-align: center;
		margin-top: 100px;
	}
	</style>
</head>

<body class="container-fluid">

	<header>
 		{% include "navbar.html" %}
 	</header>
	
	<h1 class="display-1">EDUCATION</h1>

	<div class="row">
		<div class="col-sm-4">
			<img src="albayan.jpg" class="img-fluid" align="right" alt="albayan" style="width: 264px; height: 264px">
		</div>
		<div class="col-sm-8">
			<h1>SMA PU ALBAYAN SUKABUMI</h1>
			<p>
				Merupakan salah satu sekolah<br> 
				menengah atas berbasis pesantren<br> 
				terbaik yang ada di sukabumi. Rata-rata<br> 
				tiap tahun meluluskan 92% muridnya ke<br> 
				PTN favorit di Indonesia.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8" style="text-align: right;">
			<h1>FASILKOM-UNIVERSITAS INDONESIA</h1>
			<p>
				Salah satu  perguruan tinggi terbaik di<br>  
				Indonesia. Melahirkan petinggi negara,<br> 
				eksekutif perusahaan, dan CEO startup<br> 
				terkemuka.
			</p>
		</div>
		<div class="col-sm-4">
			<img src="fasilkom.jpg" class="img-fluid" align="left" alt="fasilkom" style="width: 264px;height: 264px">
		</div>
	</div>

	<h1 class="display-1">ORGANIZATION</h1>

	<div class="row">
		<div class="col-sm-4">
			<img src="bemfasilkom.jpg" class="img-fluid" align="right" alt="bemfasilkom" style="width: 264px;height: 264px">
		</div>
		<div class="col-sm-8">
			<H1>BEM FASILKOM UI</H1>
			<p>
				Badan Eksekutif Mahasiswa yang berada di<br> 
				fakultas ilmu komputer UI. Memiliki banyak<br> 
				projek kerja yang aktif dan bermanfaat bagi<br> 
				mahasiswa maupun masayarakat umum.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8" style="text-align: right;">
			<h1>FUKI FASILKOM UI</h1>
			<p>
				Organisasi ke agamaan yang ada pada<br> 
				fakultas ilmu komputer UI. Memiliki banyak<br> 
				projek kerja yang aktif dan bermanfaat bagi<br> 
				mahasiswa maupun masayarakat umum.
			</p>
		</div>
		<div class="col-sm-4">
			<img src="fukifasilkom.jpg" class="img-fluid" align="left" alt="fukifasilkom" style="width: 264px;height: 264px;">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<img src="compfest.jpg" class="img-fluid" align="right" alt="compfest" style="width: 264px; height: 264px">
		</div>
		<div class="col-sm-8">
			<h1>COMPFEST X<h1>
			<p>
				Acara terbesar yang diadakan mahasiswa<br> 
				ilmu komputer di seluruh Indonesia.<br>
				Mengundang banyak eksekutif negara,<br> 
				CEO startup, dan artis setiap tahun-nya.
			</p>
		</div>
	</div>


	<div>
		<img src="quotes.jpg" class="img-fluid" alt="quotes" style="width: 110;height: 96;">
		<p>
			to keep alive is to keep moving forward
		</p>
	</div>

	<h1 class="display-1" style="text-align: left;">MY CONTACT INFO</h1>
	
	<div class="row">
		<div class="col-sm-2">
			<img src="whatsapp.jpg" class="img-fluid" alt="whatsapp" style="width:100;height: 100 ">
		</div>
		<div class="col-sm-10">
			<p>
				@azhararnanda
			</p>
		</div>	
	</div>
	<div class="row">
		<div class="col-sm-2">
			<img src="instagram.jpg" class="img-fluid" alt="instagram" style="width:100;height: 100 ">
		</div>
		<div class="col-sm-10">
			<p>
				+62 8211-5917-118
			</p>
		</div>
	</div>



</body>

</html>
