{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href={% static 'style/mystyle.css' %}>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<style >
		p {
			font-size: 15px;
		}

	</style>
</head>	

	<body class="container-fluid">

		<!-- reuse navbar -->
	 	<header>
	 		{% include "navbar.html" %}
	 	</header>

	 	{% block content %}
		<header>
			<div class = "container p-5 text-lg-center">
				<br>
				<br>
				<br>
				<br>
				<h2><strong>my shcedule</strong></h2>
			</div>
		</header>

		<div class = "container p-5">
			<h3>Your schedule</h3>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<th>Name</th>
						<th>Location</th>
						<th>Category</th>
						<th>Date</th>
						<th>Time</th>
						
					</thead>
					<tbody>
						{% for e in events %}
						<tr>
							<td>{{e.Kegiatan}}</td>
							<td>{{e.tempat}}</td>
							<td>{{e.kategori}}</td>
							<td>{{e.tanggal|date:"l, j F Y"}}</td>
							<td>{{e.waktu|date:"H:i"}}</td>
							
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>


		<div class = "container p-5">
			<h3>Add new event</h3>
			<form method="POST">
				{% csrf_token %}
				{{ form|crispy }}
				<br>
				<button type="submit" class="btn btn-primary">Add event</button>
			</form>
			<br>
			<form method="POST" action={% url 'deleteactivity' %}>
			{% csrf_token %}
			<button type="submit" class="btn btn-primary">Dell event</button>	
			</form>
		</div>

		{% endblock %}
	</body>



	</body>
</html>