{%load static%}
<!DOCTYPE html>

<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href={% static 'style/mystyle.css' %}>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body class="container-fluid">

	<!-- reuse navbar -->
 	<header>
 		{% include "navbar.html" %}
 	</header>

<br><br>
<br><br>
<br><br>

	<img class="img-fluid" src="/static/images/gamesicon.png" alt="Game Icon" id="mid_icon">

	<br><br>

	<h2 style="text-align: center">My Personal Favourite Games</h2>

	<br><br>
	<br><br>

	<div class="row">
		<div class="col-sm-6">
			<img class="img-fluid" src="/static/images/mobilelegends.jpg" width="505" ,="" height="300" alt="mobilelegends">
		</div>
		<br>
		<div class="col-sm-8">
			<b>Mobile Legend : Bang Bang</b>
			<br><br>
			<p>
			Mobile Legends: Bang Bang adalah sebuah permainan MOBA yang dirancang untuk ponsel. Kedua tim lawan berjuang untuk mencapai dan menghancurkan basis musuh sambil mempertahankan basis mereka sendiri untuk mengendalikan jalan setapak, tiga "jalur" yang dikenal sebagai "top", "middle" dan "bottom", yang menghubungkan basis-basis.[2]

			Di masing-masing tim, ada lima pemain yang masing-masing mengendalikan avatar, yang dikenal sebagai "hero", dari perangkat mereka sendiri. Karakter terkontrol komputer yang lebih lemah, yang disebut "minions", bertelur di basis tim dan mengikuti tiga jalur ke basis tim lawan, melawan musuh dan menara.[3]
			</p>
		</div>
	</div>

	<br><br>
	<br><br>

	<div class="row">
		<div class="col-sm-6">
			<img class="img-fluid" src="/static/images/cookierun.png" width="505" ,="" height="300" alt="cookierun">
		</div>
		<br>
		<div class="col-sm-8">
			<b>CookieRun : oven break</b>
			<br><br>
			<p>
			Cookie Run adalah serangkaian permainan yang berjalan tanpa akhir. Tujuannya adalah mengumpulkan poin sebanyak mungkin dalam jangka waktu tertentu. Dalam mode multiplayer, 10 pemain dicocokkan secara global untuk bersaing dan mendapatkan poin tertinggi. Para pemenang akan mendapatkan peti harta karun yang lebih tinggi dan akan menerima lebih banyak piala. Pemain mengontrol cookie dengan lompatan kontrol dan geser untuk menghindari rintangan dan mendapatkan poin melalui "jeli". Ada 70 jenis cookie terbaru untuk Cookie Run Oven Break, dan mereka memiliki kemampuan dan gaya unik mereka sendiri. 68 hewan peliharaan yang berbeda adalah yang terbaru untuk Cookie Run Oven Break. Ada juga power-up berbeda yang membuat gim lebih mudah dimainkan. Beberapa dapat dipilih atau diaktifkan sebelum dimulainya lari, sementara yang lain diaktifkan atau diperoleh di tengah-tengah lari. Beberapa power-up meliputi: peningkatan ukuran, penguat kecepatan, dan jeli menarik-magnet.
			</p>
		</div>
	</div>

	<br><br>
	<br><br>

	<div class="row">
		<div class="col-sm-6">
			<img class="img-fluid" src="/static/images/godofwar.jpg" width="505" ,="" height="300" alt="cookierun">
		</div>
		<br>
		<div class="col-sm-8">
			<b>God of War : the series</b>
			<br><br>
			<p>
			God of War adalah permainan video untuk konsol PlayStation 2 yang dirilis pada 22 Maret 2005. Cerita God of War sedikit berdasarkan pada mitologi Yunani. God of War dikebangkan oleh Sony Computer Entertainment divisi Santa Monica. Permainan ini adalah bagian pertama dari seri God of War.

			Permainan video ini menerima tanggapan yang positif dari para kritikus dan telah meraih banyak penghargaan, termasuk "Game of the Year" dari Academy of Interactive Arts & Sciences. Pada tahun 2007, IGN menempatkan God of War dalam daftar 25 permainan video PS2 terbaik.[3] Sebelum dirilisnya God of War III, God of War bersama dengan sekuel pertamanya dirilis untuk PlayStation 3 di Amerika Utara pada 17 November 2009 sebagai bagian dari God of War Collection.[4] Itu juga dirilis ulang di Jepang pada 18 Maret 2010 dan di Eropa serta Australia dalam God of War III: Ultimate Trilogy Edition. Belum ada pernyataan resmi mengenai kemungkinan dirilisnya God of War Collection sebagai produk mandiri di Eropa, kecuali di Britania Raya..[5].
			</p>
		</div>
	</div>

	<br><br>
	<br><br>

	<!-- <img src="/static/images/m&amp;b.jpg" width="450" ,="" height="250" alt="Mount&amp;Blade" class="image-left">

	<div id="p-white"><b>Mount &amp; Blade : Warband</b><br><br>Mount &amp; Blade: Warband is the stand-alone expansion pack to the action role-playing video game Mount &amp; Blade. Announced in January 2009, the game was developed by the Turkish company TaleWorlds Entertainment and was published by Paradox Interactive on March 30, 2010.
	</div>

	<br><br>
	<br><br>
	<br><br>

	<img src="/static/images/nba.jpg" width="231" ,="" height="288" alt="NBA" class="image-left">

	<div id="p-white"><b>NBA 2K</b><br><br>NBA 2K18 is a basketball simulation video game developed by Visual Concepts and published by 2K Sports. It has 19 installment in the NBA 2K franchise.
	</div> -->


	<!-- <nav class="navbar navbar-inverse" id="header">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="/static/images/profile-logo2.png" width="50" ,="" height="50" alt="Profile" style="margin-top: -12.5px;" "=""></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/favGames/">Next Page</a></li>
            <li><a href="/home/" style="color: black"><b>HOME</b></a></li>
            <li><a href="/favGames/" style="color: black"><b>FAV-GAMES</b></a></li>
            <li><a href="/form/" style="color: black"><b>FORM</b></a></li>
        </ul>
      </div>
    </nav> -->

</body>
</html>