<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body class="container">
		<h1>LOGIN FORM</h1>
		<form method="POST" style="margin-top: 100px">
			{% csrf_token %}
			<div class="form-group">
				<input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username">
			</div>

			<div class="form-group">
				<input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
	</body>
</html>