{% extends "layout/base.html" %}
{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'style/newstyle.css' %}">
{% endblock css %}

{% block content %}
<div id="fake_body">
	<div id="favo_mid">
		<h1 class="display-4">Total book i like</h1><br>
		<p id="clicks">0</p>
	</div>
	<div class="container">
		<div class="dropdown">
  			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    		Book Type
  			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			    <a class="dropdown-item" id="quiling">quiling</a>
			    <a class="dropdown-item" id="anime">anime</a>
			    <a class="dropdown-item" id="blackpink">blackpink</a>
		  	</div>
		</div>
		<table class="table" id="books" style="margin-top: 30px;">
			<thead>
				<tr>
					<th scope="col">No</th>
					<th scope="col">Cover</th>
					<th scope="col">Title</th>
					<th scope="col">Author</th>
					<th scope="col">Publisher</th>
					<th scope="col">Bookmark</th>
				</tr>
			</thead>
			<tbody id="appended">
			</tbody>
		</table>
	</div>
</div>
<script>

$(document).ready(function() {
	
});


function myfuncbook(x) {
	var $mybooks = $('#appended');
	$.ajax({
		type: 'GET',
		url: '/cek_book/'+x,
		success: function(data) {
			$.each(data.items, function(i, books){
				$mybooks.append('<tr class="removed">');
				$mybooks.append('<th scope="row" class="removed">'+(i+1)+'</th>');
				$mybooks.append('<td class="removed"><img src="'+books.volumeInfo.imageLinks.thumbnail+'"/></td>');
				$mybooks.append('<td class="removed">'+books.volumeInfo.title+'</td>');
				$mybooks.append('<td class="removed">'+books.volumeInfo.authors+'</td>');
				$mybooks.append('<td class="removed">'+books.volumeInfo.publisher+'</td>');
				$mybooks.append('<td class="removed"><i class="fas fa-check-circle" style="font-size:48px;color:rgb(0, 0, 0)"></i></td>'); 
				$mybooks.append('</tr>');
			});
		},
		error: function() {
			alert('error cuk!');
		}
	});
}

$(document).ready(function(){
	myfuncbook("quiling")
	var count = 0
	var color = ["rgb(0, 0, 0)", "rgb(255, 255, 255)"]
	$('body').on('click', 'i', function() {
		var $col1 = $(this).css('color')
		if ($col1 == color[0]) {
			$(this).css('color', color[1])
			count++
		}
		else {
			$(this).css('color', color[0])	
			count--
		}
		$('#clicks').text(count);
	});
	$("#blackpink").click(function() {
		$.ajax({
			type:'GET',
			url: '/cek_book/blackpink',
			success: function(data) {
				console.log("success");
				$('.removed').remove();
				count=0;
				$('#clicks').text(count);
				myfuncbook("blackpink");
				
			},
			error: function() {
				console.log('failed!');
			}
		});
	});
	$("#anime").click(function() {
		$.ajax({
			type:'GET',
			url: '/cek_book/anime',
			success: function(data) {
				console.log("success");
				$('.removed').remove();
				count=0;
				$('#clicks').text(count);
				myfuncbook("anime");
				
			},
			error: function() {
				console.log('failed!');
			}
		});
	});
	$("#quiling").click(function() {
		$.ajax({
			type:'GET',
			url: '/cek_book/quiling',
			success: function(data) {
				console.log("success");
				$('.removed').remove();
				count=0;
				$('#clicks').text(count);
				myfuncbook("quiling");
				
			},
			error: function() {
				console.log('failed!');
			}
		});
	});	
});
</script>
{% endblock %}
