
{% extends "layout/base.html" %} 
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'style/status_css.css' %}">
{% endblock %}

{% block content %}
<div id="fake_body">
	<div class="row">
		<div class="col-sm-3">
			<button type="button" class="btn-info btn-lg mybutton">Girly Theme</button>
			<div id="accordion">
			  <h4 class="title_acor">Interest?</h4>
			  <div>
			  	<p>I do have hobbies, altought i'm a supper dupper busy computer science student.
			  		and here's a couple mine...
			 	</p>
			  	<ul style="padding-top: 0px;">
			  		<li>Playing badminton</li>
			  		<li>Playing ping-pong</li>
			  		<li>Listening to a song...of Edsheeran</li>
			  		<li>playing guitar, and last but not least is..</li>
			  		<li><b>(∩｀-´)⊃━━☆ﾟ.*･｡ﾟ</b>code! </li>
			  	</ul>
			  </div>
			  <h4 class="title_acor">Why fasilkom?</h4>
			  <div>
			    <p>
			   	Why <b style="font-size: 20px">fasilkom?</b> because i love to code.. i really love to code!!! it's like 
			   	i was born to be a programmer, what kind of <b>programmer?</b> i still wondering and
			   	i hope it'll suit me the best. Lots of geniuses highschool student choose fasilkom to continue their studies because it's one of the top <b style="font-size: 15px">Computer science</b> faculty in Indonesia.<br><br>

			   	I hope to be a better programmer and a better human being by undergoing my studies in fasilkom.<br><br>
			   	
			   	<b style="text-align: center;font-size: 30px">¯\_(ツ)_/¯</b>

			    </p>
			  </div>
			  <h4 class="title_acor">Why am i alive?</h4>
			  <div>
			    <p>
			    Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
			    Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
			    ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
			    lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
			    </p>
			    <ul>
			      <li>List item one</li>
			      <li>List item two</li>
			      <li>List item three</li>
			    </ul>
			  </div>
			</div>
		</div>
		<div class="col-sm-5">
			<div id="middle_post">
				<br><br>
				<h1 id="welcomeing" style="display: none;">Oh, hello Boy!</h1>
				<form class="posting" method="POST" action={% url 'status_add' %}>
					{% csrf_token %}
					{{ form|crispy }}
					<button type="submit" class="btn" name="post_button">Let me post something</button>
					<br><br>
				</form>
				<form method="POST" action={% url 'status_del' %}>
					{% csrf_token %}
					<button type="submit" class="btn">I want to delete oll</button>
				</form>
				<br><br><br>
				<div class="status_memory">
					{% for e in status %}
						<div class="card">
							<div class="card-header">
								<h5 class="card-title">Me posted</h5>
								<p class="card-text">{{e.Waktu|date:"j F Y H:i a"}}</p>
							</div>	
				  			<div class="card-body">
				    			<p class="card-text" id="my_status">{{e.Kabar}}</p>
				  			</div>
						</div>
						<br>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col"></div>
	</div>
</div>
<script>
	var color = ["pink","lightblue"];
	var gender = ["Oh, hello Girl!","Oh, hello Boy!"];
	var hey = ["Boyish theme","Girly theme"];
	var count = 0;
	$(document).ready(function(){
		$("#welcomeing").fadeIn(2000);
		$(".mybutton").on({
			click: function(){
				$("#welcomeing").hide(0);
				$("body").css("background-color", color[count%2]);
				$("#welcomeing").fadeIn(2000);
				$("#welcomeing").text(gender[count%2]);
				$(".mybutton").text(hey[count%2]);	
				count++;
			}
			
		});
		$( function() {
			$( "#accordion" ).accordion(
				{
	                collapsible: true
	                active: false
					
					classes : {
						"ui-accordion-header": "ui-corner-top",
						"ui-accordion-header-collapsed": "ui-corner-all",
						"ui-accordion-content": "ui-corner-bottom"
					}

				});
	    });
	});
</script>
{% endblock %}