<html>
  <head>
  {% load static %}<!-- 
  <link rel="stylesheet" type="text/css" href={% static 'style/subscriber_css.css' %}> -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <!--  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
  <!------ Include the above in your HEAD tag ---------->
  <style>
    body {
      background-color: lightblue;
    }

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ 
  text-align:center;
  padding-top: 20px;

}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

  </style>
</head>
<body id="LoginForm">
  <header>
      {% include "layout/header.html" %}
  </header>
<!-- <div class="row">
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
</div> -->
<div class="container">
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2>Subscribe Form</h2>
        <p>Please enter your username, email, and password</p>
      </div>
      <form id="Login">
        <div class="form-group">
            <input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username">
        </div>

        <div class="form-group">
            <input type="email" class="form-control" id="inputEmail" onblur="validate_email()" placeholder="Email Address" name="email">
        </div>
        <p id="aa"></p>

        <div class="form-group">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary" onclick="submit_info()" id="button_change" disabled>Subscribe</button>
      </form>
    </div>
  </div>

  <div class="sublst">
    <table class="table" style="margin-top: 30px;">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">My Subscriber</th>
          <th scope="col">Unsubscribe</th>
        </tr>
      </thead>
      <tbody id="subs_appended">
        <div class="popopopop">
      </tbody>
    </table>
  </div>


</div>
<footer class="page-footer font-small teal pt-1">

    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>

  <script>

  var csrftoken = Cookies.get('csrftoken');
  function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
  });

  var validate_one = false;
  var validate_two = false;
  var validate_three = false;

  function submit_info() {
    var $info1 = $('#inputUsername');
    var $info2 = $('#inputEmail');
    var $info3 = $('#inputPassword');
    var order = {
      username: $info1.val(),
      email: $info2.val(),
      password: $info3.val()

    };

    $.ajax({
      type: "POST",
      url: "/submit_url/",
      data: order,
      success: function(data) {
        alert('succes submit');
        $('#inputUsername').text("");
        $('#inputEmail').text("");
        $('#inputPassword').text("");
      },
      error: function() {
        alert('error submit!');
      }
    });
  }

  function validate_email() {
    var email_from_user = document.getElementById('inputEmail').value;
    $.ajax({
      url: "/email_check/"+email_from_user,
      success: function(data) {
        $('#aa').text(data.validated_email);
        if (data.validated_email == "email belum terdaftar") {
          validate_two = true;  
        }
        else{
          validate_two=false;
        }
        console.log(validate_one);
        validate_func();
      },
      error: function() {
        alert('error cuk');
      }
    });
  }

  $(document).ready(function() {
    subscriber_list();
    $('#inputUsername').change(function() {
      if($(this).val() != "") {
        console.log($(this).val());
        validate_one = true;
      }
      else {
        validate_one = false;
        console.log("when?");

      }
      console.log(validate_one);
      validate_func();
    });
    $('#inputPassword').change(function() {
      if($(this).val() != "") {
        validate_three = true;
      }
      else{
        validate_three=false;
      }
      console.log(validate_three);
      validate_func();
    });
  });

  function validate_func() {
    if (validate_one && validate_two && validate_three) {
      console.log("all three validated");
      $('#button_change').removeAttr('disabled');
    }
    else {
      $('#button_change').attr('disabled','disabled');
    }
  }

  function subscriber_list() {
    var $mysubs = $('#subs_appended');
    $.ajax({
      type: 'GET',
      url: '/sublst_url/',
      success: function(data) {
        console.log("sublst_succes!");
        $.each(data, function(key, value) {
          $mysubs.append('<tr id="succesfull"><th scope="row">'+(key+1)+'</th><td>'+ value.fields.username+'</td><td><button type="submit" onclick="sub_del(this)" class="btn btn-primary" email_track="'+value.fields.email+'">Unsubscribe</button></td></tr>');
          console.log(value.fields.username);
          console.log(key+1);
        });
  
      },
      error: function() {
        console.log('sublst_fail!');
      }
    });
  }

  function sub_del(elem) {
    var email_del = {
      email_data: $(elem).attr("email_track")
    }
     $.ajax({
      type: 'POST',
      url: '/sublst_del/',
      data: email_del,
      success: function(data) {
        $(elem).parent().parent().remove();
      }
    });
  }
    
   
  </script>
</body>

</html>
